HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/src/main/resources/application.properties
/src/main/resources/keys
/src/main/resources/keys/client_secret_362441102303-v3u0b0lu941sbfumc0s7hop8g6esglm3.apps.googleusercontent.com.json
/src/main/resources/import.sql
/Procfile.txt
/mvnw.cmd
/mvnw
