<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layoutPadrao}"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title th:text="${id == null ? 'Cadastrar Usuário' : 'Editar Usuário'}"></title>

</head>	  

<body>
<div layout:fragment="conteudo"> 
	<div class="container">
		<div th:if="${messageAdd}">
			<h6 id="messageAdd" style="color: white;" class="messageAdd" th:text="${messageAdd}"></h6>
		</div>
		<div th:if="${messageEdit}">
			<h6 id="messageEdit" style="color: white;" class="messageEdit" th:text="${messageEdit}"></h6>
		</div>
		<div class="card">
			<div class="card-panel">
				
				<div class="row">
					<form class="col s12" th:action="@{/usuarios/add}" th:object="${usuario}" method="post">
						<input type="hidden" th:field="*{id}"/>
						<div class="row">
							<div class="input-field col m4 s12">
								<input id="username" type="text" class="validate" th:field="*{username}" 
									   placeholder="Login usuário" required autofocus="autofocus"
									   maxlength="10"/>
								<label for="username">Usuário</label>	
							</div>
							<div class="input-field col m8 s12">
								<input id="nome" type="text" class="validate" th:field="*{nome}"
									   placeholder="Nome usuário" required/>
								<label for="nome">Nome usuário</label>
							</div>
						</div>
						<div class="row">						
							<div class="input-field col m4 s12">		
								<div th:if="${usuario.id == null}">			
									<input id="password" type="password" class="validate" th:field="*{password}"
										   placeholder="Senha" required />
									<label for="password">Senha</label>	 	   
								</div>																	
							</div>							
						</div>
						<div class="row">
							<div class="input-field col m6 s12">								
								<input type="text" id="email" name="email" class="validate" th:field="*{email}"
									   placeholder="Email" autocomplete="off"/>
								<label for="email">E-mail</label>
							</div>
							<div class="input-field col m6 s12">
								<select multiple id="nmRole" th:field="*{permissoes}">
									<option value="" disabled>Selecione</option>
									<option th:each="permissao : ${ListaPermissoes}"
											th:text="${permissao.name}"
											th:value="${permissao.id}">
									</option>
								</select>
								<label for="nmRole">Permissão</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col m6 s8">
								<select id="visibilidade" required th:field="*{visibilidade}">
									<option value="1">Usuário</option>
									<option value="2">Administrador</option>
									<option value="3">Customizado</option>
								</select>
								<label for="visibilidade">Visibilidade</label>
							</div>
							<div class="input-field col m6 s8" align="center">
							<a class="tooltipped modal-trigger" data-tooltip="Adicionar"
							   href="#adicionar-visibilidade">
								<i class="medium material-icons">add_box</i>
							</a>
							</div>
						</div>
						<div class="row">
							<table class="responsive-table highlight">
								<thead>
									<tr>
										<th>Módulo</th>
										<th>Acesso</th>
										<th>Ação</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
						<button id="btnClick" class="btn waves-effect waves-light" type="submit" name="action">
							Salvar<i class="material-icons right">send</i>
						</button>
					</form>
				</div>
				
			</div>
			<div class="card-action">
				<a th:href="@{/usuarios}">Voltar</a>
			</div>
		</div>
		
		<!-- Modal para adicionar visibilidade -->
		<div id="adicionar-visibilidade" class="modal" style="height: 300px;">
			<div class="modal-content">
				<h6>Adicionar visibilidade</h6>
			</div>
			<div class="modal-footer">
				<form th:action="@{/usuarios/addAcesso}" method="post">
					<input type="hidden" th:object="${usuario}" th:field="*{id}">
						<div class="row">
							<div class="input-field col m6 s8">
								<select>
									<option value="1">Contas</option>
								</select>
								<label for="modulo">Módulo</label>
							</div>
							<div class="input-field col m6 s8">
								<select multiple id="usuarioAcesso" th:object="${usuario}" th:field="*{username}">
									<option value="" disabled>Selecione</option>
									<option th:each="usuarios : ${listaUsuarios}"
											th:text="${usuarios.username}"
											th:value="${usuarios.id}">
									</option>
								</select>
								<label for="usuarioAcesso">Acessa de</label>
							</div>
						</div>	
					<button type="submit" class="btn waves-effect waves-light"
					        style="margin: 5px;">Salvar</button>
				</form>
			</div>
		</div>
	</div>
</div>
<th:block layout:fragment="javascript-controle">
	<script th:src="@{/javascript/toast-message.js}"></script>
</th:block>	
</body>

</html>	