<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layoutPadrao}"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Consultar API Compras</title>

</head>	  

<body>
<div layout:fragment="conteudo"> 
	<div class="container">
		<h5>Web Compras</h5>
		<div class="card">		
			<div id="app" class="card-panel" style="height: 390px;">
	        
	        <button class="waves-effect waves-light btn" type="submit" onclick="apiFinanceiro()">Consultar</button>    
	        	<div class="card-content black-text">
	            <table id="table" class="responsive-table highlight">
	                <thead>
	                    <tr>
	                        <th>Código</th>
	                        <th>Estabelecimento</th>
	                        <th>Valor compra</th>
	                        <th>Ação</th>
	                    </tr>
	                </thead>
	                <tbody id="tbody">
	                </tbody>
	            </table>
	            </div>
	            <div id="loading" align="center">
            		<!--  <img th:src="@{/vendor/img/loading.gif}" alt="loading...">   -->            		       					
        		</div>	
	    	</div>
	    </div>	
	</div>
</div>
    
<th:block layout:fragment="javascript-controle">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script th:src="@{/javascript/controle01.js}"></script>
	<script th:src="@{/javascript/financeiro-consumes-api.js}"></script>

</th:block>   
</body>
</html>		