 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	  
<footer class="page-footer blue-grey darken-4" th:fragment="footer">
   
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

 <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script th:src="@{/vendor/js/materialize.js}"></script>
  <script th:src="@{/vendor/js/init.js}"></script>
  <script th:src="@{/vendor/css/style.css}"></script>
</html>  