<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layoutPadrao}"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<section layout:fragment="conteudo">

<div class="container">
<div class="section">

	      <div class="card">
	      	 <div class="card-panel">
	      	 	<div class="card-content" style="height:360px;">
	      	 		<h5>Sistema para controle financeiro</h5>
	      	 		<p><em>Tecnologias aplicadas:</em></p>
	      	 		<ul>
	      	 			<li>Java</li>
	      	 			<li>Hibernate</li>
	      	 			<li>JPA</li>
	      	 			<li>Spring framework</li>
	      	 			<li>PostgreSQL</li>
	      	 			<li>Thymeleaf</li>
	      	 			<li>Materialize</li>
	      	 			<li>Spring boot</li>
	      	 			<li>Maven</li>
	      	 			<li>AWS S3</li>
	      	 			<li>JasperReports</li>	      	 			
	      	 		</ul>
	      	 	</div>	      	 	
	      	 </div>			 	
		  </div> 
    </div>
  </div>
</section>
</html>
