<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layoutPadrao">

<head>
	<title>Compra</title>
	
</head>  
<body>
<section layout:fragment="conteudo">
	<div class="container">
		<div class="section">
			<h5>Compra</h5>
			<div class="input-field col m12 s12 l4" align="right">
				<a class="waves-effect waves-light btn" th:href="@{/compras/add}">Cadastrar</a>
				<a th:href="@{novaCompra}"></a>
			</div>

			<div class="row">
				<form class="col s12" method="get" th:action="@{/compras/buscar(loja=${nmEstabelecimento})}" 
				      th:object="${compra}" th:name="loja">
					<div class="col m12 s12">
					
							<div class="row">
								
									<div class="input-field col m6 s12 l6">
										<i class="material-icons prefix">account_circle</i>
										<input type="text" id="icon_prefix" 
											   placeholder="Pesquise pelo nome do estabelecimento"
											    th:name="loja"/>
										<label for="icon_prefix">Informe o nome da loja</label>
									</div>
								
							</div>
						
					</div>
					
				</form>
			</div>
			
			<div class="row">
				<div class="col m12 s12">
					<div class="card hoverable">
						<div class="card-content black-text">
							<span class="card-title">Compras</span>
							<table class="responsive-table highlight">
								<thead>
									<tr>
										<th>#</th>
										<th>Loja</th>
										<th>Data Compra</th>
										<th>Valor Compra</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="compra : ${pagina.conteudo}">
										<td th:text="${compra.codigo}"></td>
										<td th:text="${compra.estabelecimento.nmEstabelecimento}"></td>
										<td th:text="${{compra.dataCompra}}"></td>
										<td th:text="${{compra.valorCompra}}"></td>
										<td>
											<a class="tooltipped" data-position="top" data-delay="50"
											   data-tooltip="Editar" th:href="@{/compras/{codigo}(codigo=${compra.codigo})}">
												<i class="tiny material-icons">mode_edit</i>
											</a>
											<a class="tooltipped modal-trigger" data-position="top"
											   href="#modal-remover-registro"
											   th:attr="data-codigo=${compra.codigo}, data-nome=${compra.codigo}"
											   data-delay="50" data-tooltip="Excluir" style="margin-left: 9px">
												<i class="tiny material-icons">delete</i>
											</a>
										</td>
									</tr>
									<tr>
										<td colspan="9" th:if="${pagina.vazia}">
											Nenhum registro encontrado!
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
						<!-- Paginação -->
					<div th:replace="/fragments/paginacao :: Pagination (${pagina})"></div>			
				
			</div>
			
		</div>
	</div>
	<!-- Modal para remover compra -->
		<div id="modal-remover-registro" class="modal">
			<div class="modal-content">
				<h5>Exclusão Compra</h5>
				<span>Confirma a exclusão de?</span>
			</div>
			<div class="modal-footer">
				<form th:attr="data-url-remover=@{/compras/delCompra}" th:action="${'/compras/delCompra' + codigo}" th:method="DELETE">
					<button type="submit" class="modal-action modal-close waves-effect waves-light btn red darken-1"
							style="margin: 5px">Sim</button>
						<a href="#" class="modal-action modal-close waves-effect waves-light btn teal darken-3">Não</a>	
				</form>
			</div>
		</div>
	<!-- Modal para remover compra -->
</section>

	<th:block layout:fragment="javascript-controle">
		<script th:src="@{/javascript/controle01.js}"></script>
	</th:block>

 </body>
</html>  